.winner-baner {
  position: absolute;
  width: 456px;
  height: 465px;
  background-image: url(img/winner-baner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner-baner .home-icon {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: initial;
  margin: 10px;
  padding-bottom: 10px;
}

.winner-baner .home-icon:hover {
  transform: scale(0.9);
}

.cowcorn {
  width: 48%;
}

.winner-baner p {
  font-size: 0.8em;
}

.winner-baner span {
  font-size: 0.9em;
  display: flex;
}

.winner-baner h1 {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

/*musela jsem dát ke třídě .timer-icon:display:none protože mi tady objevila ikonka timeru, která se sem nehodí, každopádně mi nejde dát mezera před výslednej čas (bože proooč)*/
.winner-baner .timer-icon {
  display: none;
}
