@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(img/texture-wooden-boards.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding: 0 8px;
}

@media (min-width: 426px) {
  body {
    padding: 0 16px;
  }
}

/*@media (min-width: 769px) {
  body {
    padding: 0 32px;
  }
}*/


.container {
 margin: 0.5em auto;
 max-width: 768px;
}

.content {
  background-color: #fff;
}

.top-image img {
  display: block;
}
