@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(img/texture-wooden-boards.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 50vw;
  margin: 0.5em auto;
}

.content {
  background-color: #fff;
}
