/* .title_baner {
} */

.child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .child img {
} */

.flower_baner {
  /* max-height: 263px; */
  height: 263px;
}

h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
}

.link {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.tutorial,
.play {
  color: black;
  text-decoration: none;
  transition: all 0.15s;
}

.tutorial:hover,
.play:hover {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ec93e3, #af89be);
}

.play:hover {
  text-transform: uppercase;
}

.stickerT {
  background-image: url("img/sticker_tutorial.svg");
  background-size: cover;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 3.8em;
}
.stickerP {
  background-image: url("img/sticker_play.svg");
  background-size: cover;
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
}
