h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.link {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.tutorial {
  margin-bottom: 10px;
}

/* .tutorial,
.play {
  padding: 0.8rem;
  width: 3rem;
  font-size: 1.5rem;
  border: 2px solid black;
  text-decoration: none;
  margin: 1rem;
  color: black;
  border-radius: 50%;
  background: linear-gradient(to right, #ec96a9, #773893);
}

.tutorial:hover,
.play:hover {
  border: 3px dotted #cf5dc6;
  color: black;
  background: #fff;
} */

/* .tutorial, */
/* .play {
  text-decoration: none;
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  transition: all 0.35s;
} */

/* .tutorial:hover, */
/* .play:hover {
  letter-spacing: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ec93e3, #af89be);
} */
.tutorial {
  color: black;
  text-decoration: black;
}
/* .play {
  background-image: url("img/Datový\ zdroj\ 7.svg");
  background-size: cover;
  width: 4em;
  height: 4em;
} */
.sticker {
  background-size: cover;
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

#sticker-tutorial {
  background-image: url("img/sticker.svg");
}
#sticker-play {
  background-image: url("img/stickerr.svg");
}
