h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.link {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

/* .tutorial,
.play {
  padding: 0.8rem;
  width: 3rem;
  font-size: 1.5rem;
  border: 2px solid black;
  text-decoration: none;
  margin: 1rem;
  color: black;
  border-radius: 50%;
  background: linear-gradient(to right, #ec96a9, #773893);
}

.tutorial:hover,
.play:hover {
  border: 3px dotted #cf5dc6;
  color: black;
  background: #fff;
} */

/* .tutorial, */
/* .play {
  text-decoration: none;
  color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  transition: all 0.35s;
} */

/* .tutorial:hover, */
/* .play:hover {
  letter-spacing: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ec93e3, #af89be);
} */
.tutorial,
.play {
  color: black;
  text-decoration: none;
  margin: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 5px;
  transition: all 0.35s;
}

.tutorial:hover,
.play:hover {
  letter-spacing: 3px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #ec93e3, #af89be);
}

/* .sticker {
  background-size: cover;
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sticker-tutorial {
  background-image: url("img/sticker.svg");
  margin-left: 20px;
  z-index: 1;
}
#sticker-play {
  background-image: url("img/stickerr.svg");
} */

.sticker {
  background-image: url("img/stickeer.svg");
  background-size: cover;
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-right: 3em;
}
.stickerr {
  background-image: url("img/stickerr.svg");
  background-size: cover;
  width: 4.5em;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4.5em;
}
