.controls-btn {
  display: flex;
  justify-content: center;
}

.controls-btn button {
  background-color: #fff;
  border: none;
  margin-top: 10px;
}

.controls-btn button:hover {
  transform: scale(1.2);
}

#tick {
  width: 3.5em;
  height: 3.5em;
}

#cross {
  width: 3em;
  height: 3em;
  margin-right: 15px;
}
