.header {
  display: flex;
  justify-content: space-between;
}

.header-controls {
  margin: 10px;
}

.timer {
  margin: 10px;
}
.header-btn {
  border: none;
  background-color: #fff;
  margin-right: 20px;
}
.icon {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.icon:hover {
  transform: rotate(180deg);
  transition-delay: 2s;
}
