.header {
  display: flex;
  justify-content: space-between;
}

.header-controls {
  margin: 10px;
}

.timer {
  margin: 10px;
}
.header-btn {
  border: none;
  background-color: #fff;
  margin-right: 20px;
}
.icon {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
}

/* tohle bylo predtim, ale nefungovalo
transform: rotate(180deg);
  transition-delay: 2s;*/

/*transform: scale(1.2);*/
.icon-timer {
  display: flex;
  align-items: center;
}
.timer-icon {
  width: 1.6em;
  height: 1.6em;
  margin-right: 10px;
}
