.circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-btn {
  background-image: linear-gradient(#ec93e3, #af89be);
}

.row div {
  cursor: pointer;
}

.row div:hover {
  width: 36px;
  height: 36px;
  color: black;
  background: #fff;
  border: solid 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ec93e3, #af89be);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media (max-width: 480px) {
  .circle {
    height: 55px;
    width: 55px;
  }

  .row div:hover {
    width: 51px;
    height: 51px;
  }
}
