.circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradient-btn {
  background-image: linear-gradient(#ec93e3, #af89be);
  
}

.row div:hover {
  border: 3px dotted #cf5dc6;
  font-weight: 700;
  color: black ;
  background: #fff;
  transform: scale(1.2);  /*zvetseni*/
}

.row div {
  cursor: pointer;
}