.guess-history {
  display: flex;
  justify-content: center;
  line-height: 22px;
}

.arrow {
  margin: 0 25px;
}

.history-container {
  max-height: 120px;
  overflow: auto;
}

#left_bull {
  width: 1.5em;
  height: 1.5em;
  transform: rotate(-90deg);
}

#right_cow {
  width: 1.5em;
  height: 1.5em;
  transform: rotate(90deg);
}
