* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-family: myFont;
  font-size: 1.6em;
}

h1,
h2,
h3 {
  font-family: titleFont;
  font-weight: 100;
}

body {
  background-image: url(img/texture-wooden-boards_zmenseny.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 100vh;
}

@media (min-width: 426px) {
  body {
    padding: 0 16px;
  }
}

/*@media (min-width: 769px) {
  body {
    padding: 0 32px;
  }
}*/
#app {
  width: 100%;
}
.container {
  margin: auto;
  max-width: 480px;
}

.content {
  background-color: #fff;
}

.top-image img {
  display: block;
}

@media (max-width: 480px) {
  .container {
    margin-bottom: 70px;
  }
}
